@font-face {
  font-weight: 700;
  font-family: CeraRoundPro-Bold;
  font-style: normal;

  font-display: swap;
  src: url("../fonts/CeraRoundPro-Bold.woff2") format("woff2"), url("../fonts/CeraRoundPro-Bold.woff") format("woff");
}
@font-face {
  font-weight: 500;
  font-family: CeraRoundPro-Medium;
  font-style: normal;

  font-display: swap;
  src: url("../fonts/CeraRoundPro-Medium.woff2") format("woff2"), url("../fonts/CeraRoundPro-Medium.woff") format("woff");
}
@font-face {
  font-weight: 400;
  font-family: CeraRoundPro-Regular;
  font-style: normal;

  font-display: swap;
  src: url("../fonts/CeraRoundPro-Regular.woff2") format("woff2"), url("../fonts/CeraRoundPro-Regular.woff") format("woff");
}
@font-face {
  font-weight: 400;
  font-family: OpenSans-Regular;
  font-style: normal;

  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
}